.header {
  padding: 70px;
  text-align: center;
  background-color: blue;
  background-repeat: repeat;
  background-size: 900px;
  font-family: Times, serif;
  color: pink;
}
body { 
     background-color:#c9d9c7 ;
	 
	 
}
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.judul {
	font-size: 30px;
	font-family: 'Permanent Marker', cursive;
	
	
}
.menu {
font-size: 15px;
box-shadow: 0 0 20px rgba( 0, 0, 0, 0.4);
border-radius : 4px;
}
	
	
	
	
.asu {
     list-style-type: none;
	 margin: 10;
	 padding: 0;
	 overflow: hidden;
	 background-color: black;
   }
.grup {
     float: left;
	}
.grup a {
     display: blok;
	 color: black;
	 text-align: center;
	 padding: 15px 38px;
	 text-decoration: none;
	 font-family: "Times New Roman", Times, serif;
	 font-size: 20px;
	 }

.img-g {
	 height : 10% ;
	 width : 100% ;
	 
	 
	
}
h1  {
	 display: blok;
	 color: white;
	 font-family:  Arial ;
	 text-align: center;
	 position: relative;
	 
	 font-size: 300 x 86 px;

    }
h2 {
	 display: blok;
	 color: white;
	 text-align: right;
	 padding: none;
	 text-decoration: none;
	 font-family: "Times New Roman", Times, serif;
	 font-size: 20px;
     }
h3 { 
    color:blue;
	padding: alone;
	font-size: 30px;
	
	
}